import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

import('../blocks/**/*')

html
	font-size $base_font_size

body
	font-size $base_font_size_ems
	font-family sans-serif
	font-weight 400
	line-height 1.5
	
.display-flex
	flexbox_display()