mixin list(list_of_items, prefix='')
	+b('ul').list&attributes(attributes)
		for el in list_of_items
			if el.aLink
				li.list__item(class=prefix + 'item')
					a.link.list__link(class=prefix + 'link')&attributes(el.aLink)!= el.value
			else
				li.list__item(class=prefix + 'item')!= el
					block
