mixin product(product, buttonClass='product__button')
	+b('a').product&attributes(product.link)
		img.product__img&attributes(product.img)

		if product.button
			.product__button-wrapper
				+button(class=buttonClass)= product.button

		if product.sale
			div.product__sale= product.sale
				span.product__sale_percent= '%'
				