.product
	position relative
	display block
	width 100%

	overflow hidden
	outline 1px dotted brown
	
	&__img
		position absolute
		top 0
		left 0
		min-width 100%
		height 100%
		
		
	&__sale
		position absolute
		top 15px
		left 15px
		width 2.73em
		height 2.73em
		
		max-width 25%
		max-height 21.4286%
		
		padding 3.33%
		font-size 1.375em
		line-height 1.8182
		color #fff
		
		text-align right
		white-space nowrap
		background-color #feb42e
		border-radius 50%
		
		&_percent
			margin-left -.36em
			font-size .5em
			line-height 1
			vertical-align middle
		
	&__button
		position absolute
		left 50%
		bottom 16.5%
		font-size .875em
		line-height 2
		color #fff
		
		padding .43em 1em // 6px 14px
		transform translate(-50%)
		
		&_add-to-card
			bottom 0
			padding .71em .57em .28em // 10px 8px 0
			background-color #000
		
			&::before
				position absolute
				top -1px
				right 100%
				width 0
				height 0
				content ''
				border 1.71em solid transparent
				border-right-color #000
				border-bottom-color #000
				
			&::after
				position absolute
				top -1px
				left 100%
				width 0
				height 0
				content ''
				border 1.71em solid transparent
				border-left-color #000
				border-bottom-color #000
			
				