.title
	position relative
	display block
	text-align center
	
	padding-y(45px)
	background-color white
	
	&__container
		background url('../images/title-hr-line.png') repeat-x 0 50%
		background-clip content-box
	
	&__text
		position relative
		display inline-block
		min-width 500px // 36.2319%
		
		padding-x(7.2464%)
		font-size 29.6px
		line-height 50px
		text-align center
		background-color white
		
		&::before
			position absolute
			top 50%
			left 12%
			width 20px
			height 24px
			
			margin-top -12px
			content ''
			background url('../images/title-img.png') no-repeat
		
		&::after
			position absolute
			top 50%
			right 12%
			width 20px
			height 24px
			
			margin-top -12px
			content ''
			background url('../images/title-img.png') no-repeat
