.container
	display block
	// min-width $base_container_min-width
	// max-width $base_container_max-width
		
	width $base_container_max-width
		
	margin 0 auto
	padding-x(75px)
	clearfix()
	outline 1px solid blue
	
	@media all and (max-width: 1280px)
		padding-x(50px)
		
	@media all and (max-width: 1080px)
		padding-x(30px)
