.button
	display inline-block

	padding .62em 1.125em .54em// 15px 27px 13px
	font-size 1.5em // 24px
	font-weight 700
	line-height 1
	text-align center
	color #fff
	
	text-decoration none
	text-transform uppercase
	background-color #f2a471
	border 1px solid transparent
	
	white-space nowrap
	
	cursor pointer
	transition(all .3s ease 0s)
