.button
	display inline-block
	
	padding 18px 24px 16px
	font-size 24px
	font-weight bold
	text-align center
	color fff
	
	text-decoration none
	text-transform uppercase
	background-color #f2a471
	border 1px solid transparent
	
	white-space nowrap
	
	cursor pointer
	// transition: all 0.3s ease 0s;