.testimonial
	display block
	
	padding-top 4.03%
	padding-bottom 7.13%
	clearfix()
	
	&__photo-wrapper
		position relative
		float left
		width 37.98%
		padding-top 49.61%
		
		
	&__photo
		position absolute
		left 0
		bottom 0
		width 100%
		
	&__body-wrapper
		float left
		width 59.69%
		height 100%
		margin-top 10.85%
		vertical-align bottom
	
		
	&__text
		font-size 1.125em
		line-height 1.6667
		color #fff

		
	&__author-name
		margin-top 1.33em
		font-size 1.875em
		color #000
		
	&__author-job
		font-size .875em
		line-height 2.1429
		color #7f7e7e
		text-transform uppercase
		
		
.testimonial
	
	&__photo-wrapper_right
		float right
		
	&__body-wrapper_right
		float right
		text-align right
		
		
