.testimonial
	display block
	clearfix()
	
	&__photo-wrapper
		float left
		width 40.31%
		
	&__photo
		width 100%
		
	&__body-wrapper
		float left
		width 59.69%
	
	&__body
		display inline-block
		vertical-align bottom
		
	&__text
		font-size 1.125em
		line-height 1.6667
		color #fff
		
	&__author-name
		font-size 1.875em
		color #000
		
	&__author-job
		font-size .875em
		line-height 2.1429
		color #7f7e7e
		text-transform uppercase
		
.testimonial
	
	&__photo-wrapper_right
		float right
		
	&__body_right
		text-align right
		
		
