@font-face 
	font-family Playfair Display
	src	url('../fonts/PlayfairDisplay/PlayfairDisplay_italic.eot')
	src local(Playfair Display),
		url('../fonts/PlayfairDisplay/PlayfairDisplay_italic.woff') format('woff'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay_italic.woff2') format('woff2'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay_italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay_italic.ttf') format('truetype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay_italic.svg#PlayfairDisplay_italic') format('svg')
	font-style italic
	font-weight 400

@font-face 
	font-family Playfair Display
	src	url('../fonts/PlayfairDisplay/PlayfairDisplay_boldItalic.eot')
	src local(Playfair Display),
		url('../fonts/PlayfairDisplay/PlayfairDisplay_boldItalic.woff') format('woff'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay_boldItalic.woff2') format('woff2'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay_boldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay_boldItalic.ttf') format('truetype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay_boldItalic.svg#PlayfairDisplay_boldItalic') format('svg')
	font-style italic
	font-weight 700
	
@font-face 
	font-family Lato
	src	url('../fonts/Lato/Lato_regular.eot')
	src local(Lato),
		url('../fonts/Lato/Lato_regular.woff') format('woff'),
		url('../fonts/Lato/Lato_regular.woff2') format('woff2'),
		url('../fonts/Lato/Lato_regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato/Lato_regular.ttf') format('truetype'),
		url('../fonts/Lato/Lato_regular.svg#Lato_regular') format('svg')
	font-style normal
	font-weight 400
	
@font-face 
	font-family Lato
	src	url('../fonts/Lato/Lato_light.eot')
	src local(Lato),
		url('../fonts/Lato/Lato_light.woff') format('woff'),
		url('../fonts/Lato/Lato_light.woff2') format('woff2'),
		url('../fonts/Lato/Lato_light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato/Lato_light.ttf') format('truetype'),
		url('../fonts/Lato/Lato_light.svg#Lato_light') format('svg')
	font-style normal
	font-weight 300
	
@font-face 
	font-family Lato
	src	url('../fonts/Lato/Lato_medium.eot')
	src local(Lato),
		url('../fonts/Lato/Lato_medium.woff') format('woff'),
		url('../fonts/Lato/Lato_medium.woff2') format('woff2'),
		url('../fonts/Lato/Lato_medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato/Lato_medium.ttf') format('truetype'),
		url('../fonts/Lato/Lato_medium.svg#Lato_medium') format('svg')
	font-style normal
	font-weight 500
	
@font-face 
	font-family Lato
	src	url('../fonts/Lato/Lato_semibold.eot')
	src local(Lato),
		url('../fonts/Lato/Lato_semibold.woff') format('woff'),
		url('../fonts/Lato/Lato_semibold.woff2') format('woff2'),
		url('../fonts/Lato/Lato_semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato/Lato_semibold.ttf') format('truetype'),
		url('../fonts/Lato/Lato_semibold.svg#Lato_semibold') format('svg')
	font-style normal
	font-weight 600
	
@font-face 
	font-family Lato
	src	url('../fonts/Lato/Lato_bold.eot')
	src local(Lato),
		url('../fonts/Lato/Lato_bold.woff') format('woff'),
		url('../fonts/Lato/Lato_bold.woff2') format('woff2'),
		url('../fonts/Lato/Lato_bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato/Lato_bold.ttf') format('truetype'),
		url('../fonts/Lato/Lato_bold.svg#Lato_bold') format('svg')
	font-style normal
	font-weight 700
	