// Clear the float on any element.
clearfix()
	&:after
		display table
		clear both
		content ''

// Fix no working `-webkit-text-size-adjust: 100%;` in Android.
fix-text-size-adjust()
	background-image linear-gradient(transparent, transparent)

// Set element size
size($width, $height = $width)
	width $width
	height $height

// Set margin on left & right
margin-x($margin)
	margin-left $margin
	margin-right $margin

// Set margin on top & bottom
margin-y($margin)
	margin-top $margin
	margin-bottom $margin

// Set pading on left & right
padding-x($padding)
	padding-left $padding
	padding-right $padding

// Set padding on top & bottom
padding-y($padding)
	padding-top $padding
	padding-bottom $padding

// Set one static retina image
retinaBackground($image, $ext = 'png') {
	background-image url('../images/' + $image + '.' + $ext)

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image url('../images/' + $image + '@2x.' + $ext)
	}
}
// Define flex container
flexbox-display()
	display -webkit-box
	display -moz-box
	display -ms-flexbox
	display -webkit-flex
	display flex
	
//
flex-align-items(value)
	-webkit-align-items value
	-moz-align-items value
	-ms-align-items value
	align-items value
	
// Set flex property of the flexible element
flex(values)
	-webkit-box-flex values
	-moz-box-flex values
	-webkit-flex values
	-ms-flex values
	flex values

// Set order of the flexible element	
flex-order(value)
	-webkit-box-ordinal-group value
	-moz-box-ordinal-group value
	-ms-flex-order value
	-webkit-order value
	order value

// Set transition effect
transition(values)
	-webkit-transition values
	-moz-transition values
	-o-transition values
	transition values

// Convert px to em
px_to_em(size, local_font_size = $base_font_size)
	unit(size / local_font_size, em) 

// Convert px to percent
px_to_percent(size, base = $base_container_width)
	size / base * 100%

// Set padding top & bottom in em
padding-y_em(top, bottom, base = $base_font_size)
	padding-top px_to_em(top, base)
	padding-bottom px_to_em(bottom, base)

// Set padding left & right in em
padding-x_em(top, bottom, base = $base_font_size)
	padding-left px_to_em(top, base)
	padding-right px_to_em(bottom, base)

// Set padding left & right in percent
padding-x_percent(left, right, base = $base_container_width)
	padding-left px_to_percent(left, base)
	padding-right px_to_percent(right, base)
