$bg_color = ''
$center_color = ''
$text_color = ''
$link_color = ''
$base_font_size = 16px
$base_font_size_ems = unit($base_font_size / 16, em)
$px_em = unit(1 / $base_font_size, em)
$base_container_width = 1000
$base_container_width_em = unit($base_container_width/$base_font_size, em)