/* Main module */

.main
	display block

	
.brand
	width 100%
	// oveflow hidden
		
	&__img
		max-width 100%
		
.testimonials
		background-color #d9bf8f
	
	.col-1-2
		padding 0
		color tomato
		
	&__title::after
		position absolute
		top 100%
		left 37.1528%
		width 25.6944%
		content ''
		
		margin-top -2px
		padding-bottom 2.4306%
		background url('../images/triangle-22.png') no-repeat 
		background-size cover