/* Main module */

.main
	display block
	
	&__row
		opacity .8
		
		&_featured
			padding-top 40px
		
		&_recent-products
			padding-top 28px
		
		&_brands
			padding-top 53px
			
		&_testimonials
			padding-top 89px

.brands
	
	font-size 0

	&__title
		margin-bottom 61px
		
	&__column
		display inline-block
		float none
		vertical-align middle
		

.brand
	width 100%
	text-align center
	
	padding-x(15px)
	overflow hidden
		
	&__img
		max-width 100%
		


.support
	padding-top 65px //
	
	&__col
		margin-left 0
		width 33.3333%
		
		&:nth-child(2)
			width 35.347% // 456px / 1290px
			
		&:nth-child(n + 2)
			margin-left -1.0078% // 13px / 1290px
	
	&__item
		position relative
		padding-top .625em //  10px
		padding-bottom 1.125em // 18px
		color #fff
		background-repeat no-repeat
		background-size 100% 100%
		outline 1px dotted green
		
		&_left
			padding-left 23.2558%
			background-image url('../images/support-left.png')
			
			
		&_center
			padding-left 28.0702% // 128px / 456px
			background-image url('../images/support-center.png')
			
		&_right
			padding-left 32.7907% // 141px / 430px
			background-image url('../images/support-right.png')
	
			
	&__icon
		position absolute
		top 1.67em
		left 0
		background-repeat no-repeat
		background-size 100% 100%
		
		&_shipping
			left 7.4419% // 32px/430px
			width 2.37em
			height 2.37em
			
			max-width 38px
			max-height 38px
			background-image url('../images/shipping.png')
			
		&_return
			left 14.4737% // 66px/456px
			width 2.56em
			height 3.62em
			
			max-width 41px
			max-height 42px
			background-image url('../images/return.png')
		
		&_support
			top 1.37em
			left 15.3488% // 66px/430px
			width 3em
			height 3.06em
			
			max-width 48px
			max-height 49px
			background-image url('../images/support.png')

	&__text
		font-size 1.875em // 1.5em
		font-weight 600
		line-height 1.6
		text-transform uppercase
		
		&_sm
			padding-left 5px
			font-size .875em
			line-height 1.7143
			text-transform capitalize
			
		@media screen and (min-width: 1440px)
			font-size 1.875em

		
.testimonials
	
	&__container
		background-color #d9bf8f
	
	&__column
		padding 0
	
	&__title.title
		padding-bottom 55px
		
		&::after
			position absolute
			top 100%
			left 37.1528%
			width 25.6944%
			content ''
			
			margin-top -2px
			padding-bottom 2.4306%
			background url('../images/triangle-22.png') no-repeat 
			background-size cover
			
.recent-products
	&__title
		margin-bottom 3px

.products
	margin-top 0
	padding 15px 15px 0
	border 1px solid gray // #f8f8f8
	clearfix()
	
	&__item
		margin-bottom 15px

	&__item:nth-child(4n + 1) 
		.button
			background-color #f0985e
			
			&::before
				border-right-color #f0985e
				border-bottom-color #f0985e
				
			&::after
				border-left-color #f0985e
				border-bottom-color #f0985e
		
	
	&__product
		padding-bottom 116.66%
		
.featured
	
	&__title
		margin-bottom 8px
		
	&__col
		margin-right 1.1628%
			
		&_sm
			width 31.0078%

		&_lg
			width 35.6589%
		
	&__item
		margin-bottom 3.75%	
	
	&__product_sm
		padding-bottom 100%
		
	&__product_lg
		padding-bottom 177.1739%
		
	