.header
	position relative
	display block
	min-width $base_container_min-width
	opacity .7
	
	&__container_header
		min-height 4.94em
	
	&::after
		position absolute
		top 100%
		left 36.11%
		width 27.7778%
		content '' 
		
		z-index 10
		padding-bottom 4.2361%
		background url('../images/triangle-11.png') no-repeat 0 -1px
		background-size 100% auto
						
		background-clip border-box

.top-bar
	padding-y(10px)
	
	font-size 11px
	line-height 1.6364
	color #393939
	background-color #f2f2f2
	
	&__phone
		position relative
		display inline-block
		
		padding-left 35px
		
		&::before
			position absolute
			top 50%
			left 5px
			width 10px
			height 10px
			
			margin-top -5px
			content ''
			background url('../images/phone.png') no-repeat		
		
	&__account
		float right
		
	&__account-item
		display inline-block
		line-height 1
		text-transform uppercase
		
		padding-x(30px)
		border-right 1px solid #393939
		
		&:last-child
			padding-right 0
			border none
		
		&:hover
			color #000

.header__header
	position relative
	padding-top 2em // 32px
	padding-bottom 18px //
	text-align center

.logo
	position absolute
	top 2em
	left 50%
	width 14.25em //  228px
	min-width 160px
	
	margin-left -6.25em
	outline 1px solid yellow
	
	&__logo
		width 100%
		height auto

.main-menu
	position relative
	float left
	
	margin-top .56em
	margin-left 5px
	
	&__menu.list
		z-index 100
		
		@media all and (max-width: 1130px)
			position absolute
			top 0 // 2.2em
			left 4.25em // 0
			display none
		
			
	&__button
		display none
		
		padding-x(1.16em)
		padding-y(.83em)
		font-size .75em
		font-weight 600
		line-height 1.25
		color #fff
		text-transform uppercase
		background-color #000
		
		&:hover
			background-color #363636
		
		@media all and (max-width: 1130px)
			display block
			
	
	&__item
		display inline-block
		
		margin-right 20px //
		font-family 'Playfair Display', serif
		font-size 1.125em
		font-style italic
		background-color #fff
		
		&:hover
			color darken(#d9bf8f, 30%)
		
		@media all and (max-width: 1220px)
			font-size 1.28em
			
		@media all and (max-width: 1130px)
			display block
			
			margin 0
			padding-left 1.5em
			
			padding-y(.5em)
			padding-right 3em
			font-size 1.125em
			color #fff
			
			text-align left
			background-color #000
			border-bottom 1px solid #363636
			
			&:hover
				color #d9bf8f


.header__social
	float right
	
	margin-top .67em
	
	&-item
		width 34px
		height 34px
		
		margin-right 9px
		
.social.header__social
	@media all and (max-width: 1130px)
		display none
		
		
.cart
	position relative
	float right
	width 3em
	height 3em
	
	margin-top .3em
	margin-left 20px
	
	&__img
		width 100%
		height 100%
		
	&__count
		position absolute
		top 0
		left 0
		width 100%
		font-size .875em
		line-height 4.5
		text-align center
		color #fff

/* .currency-selector
	position relative
	float right
	
	margin-top .75em
	margin-left 48px // 
	padding-y(.625em)
	overflow hidden
	background-color #000
	
	&__selector
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		
		padding-left 100%
		background-color transparent
		border 1px none
		outline none
		appearance none
		
	&__value
		width 7.41em
		padding 0 30px 0 14px
		font-size .75em
		font-weight 600
		line-height 1.25
		color #fff
		
		text-align center
		text-transform uppercase
		
		&::before
			position absolute
			top 16px
			right 10px
			width 8px
			height 4px
			content ''
			background url('../images/down.png') no-repeat */
			
.currency-selector
	position relative
	float right
	min-width 5.68em
	
	margin-top .75em
	margin-left 2.68em // 43px
	
	&::after
		position absolute
		top 1em
		right .625em
		width 8px
		height 4px
		content ''
		background url('../images/down.png') no-repeat
		
		z-index 101
	
	&__selector
		display none
		
	&__list
		position absolute
		top 0
		bottom 0
		width 100%
		height 100%
		
		z-index 100
		
	&__value
		display none
		
		padding-left 1.16em
		
		padding-right 2.5em
		
		padding-y(.83em)
		font-size .75em
		font-weight 600
		line-height 1.25
		color #fff
		
		text-align left
		text-transform uppercase
		background-color #000
		transition(all .3s ease 0s)
		
		&:hover
			background-color #363636
		
		&_display_block
			display block
		


