include ../container/container
include ../list/list

mixin header()
	+b('header').header&attributes(attributes)

			- var headerData = getData('data-header');

			- var topBar = headerData.topBar;

			- var mainMenu = headerData.mainMenu;

			- var social = headerData.social;

			section.top-bar
				+container
					p.top-bar__phone= 'Call +001 555 881'
					+list(topBar, 'top-bar__account-')(class='top-bar__account')
			section.header__header
				+container.header__container_header
					nav.main-menu
						// img.main-menu__button(alt='MENU' src='./assets/images/menu.png')
						.main-menu__button_txt menu
						+list(mainMenu, 'main-menu__')(class='main-menu__menu')

					// .cart
						img.cart__img(src='./assets/images/cart.png' alt='Cart')
						p.cart__count 0

					form.currency-selector(action='javascript:console.log( "success!");' method='post')
						ul.list.currency-selector__list
							li.list__item.currency-selector__value.currency-selector__value_display_block rupiah
							li.list__item.currency-selector__value usd
							li.list__item.currency-selector__value euro
						select.currency-selector__selector
							option(value='rupiah' selected) rupiah
							option(value='usd') usd
							option(value='euro') euro

					+social(social, 'header__')(class='header__social')
					.logo
						img.logo__logo(src='./assets/images/logo.png' alt='Shophia')
