include ../container/container
include ../list/list

mixin header()
	+b('header').header&attributes(attributes)

			- var topBar = [{aLink: {href: 'javascript:void(0)'}, value: 'Welcome MSG!'}, {aLink: {href: 'javascript:void(0)'}, value: 'My account'}, {aLink: {href: 'javascript:void(0)'}, value: 'My wishlist'}, {aLink: {href: 'javascript:void(0)'}, value: 'Login'}];

			- var mainMenu = [{aLink: {href: '#'}, value: 'Home'}, {aLink: {href: 'javascript:void(0)'}, value: 'Gallery'}, {aLink: {href: 'javascript:void(0)'}, value: 'Categories'}, {aLink: {href: 'javascript:void(0)'}, value: 'Pages'}];

			- var social = [{link: {href: 'javascript:void(0)', target: '_blank'}, img: {src: './assets/images/social-header-fb.png', alt: 'fb'}}, {link: {href: 'javascript:void(0)', target: '_blank'}, img: {src: './assets/images/social-header-twitter.png', alt: 'twitter'}}, {link: {href: 'javascript:void(0)', target: '_blank'}, img: {src: './assets/images/social-header-pinterest.png', alt: 'pinterest'}}, {link: {href: 'javascript:void(0)', target: '_blank'}, img: {src: './assets/images/social-header-instagram.png', alt: 'instagram'}}];

			section.top-bar
				+container
					p.top-bar__phone= 'Call +001 555 881'
					+list(topBar, 'top-bar__account-')(class='top-bar__account')
			section.header__header
				+container
					nav.main-menu
						+list(mainMenu, 'main-menu__')

					// .cart
						img.cart__img(src='./assets/images/cart.png' alt='Cart')
						p.cart__count 0

					form.currency-selector(action='javascript:console.log( "success!");' method='post')
						ul.list.currency-selector__list
							li.list__item.currency-selector__value.currency-selector__value_display_block rupiah
							li.list__item.currency-selector__value usd
							li.list__item.currency-selector__value euro
						select.currency-selector__selector
							option(value='rupiah' selected) rupiah
							option(value='usd') usd
							option(value='euro') euro

					+social(social, 'header__')(class='header__social')
					.logo
						img.logo__logo(src='./assets/images/logo.png' alt='Shophia')
