.header
	position relative
	display block
	
	&::after
		position absolute
		top 100%
		left 36.11%
		width 27.7778%
		content '' 
		
		z-index 10
		padding-bottom 4.2361%
		background url('../images/triangle-11.png') no-repeat 0 -1px
		background-size 100% auto
						
		background-clip border-box

.top-bar
	padding-y(10px)
	
	font-size 11px
	line-height 1.6364
	color #393939
	background-color #f2f2f2
	
	&__phone
		position relative
		display inline-block
		
		padding-left 35px
		
		&::before
			position absolute
			top 50%
			left 5px
			width 10px
			height 10px
			
			margin-top -5px
			content ''
			background url('../images/phone.png') no-repeat
			
		
	&__account
		float right
		
	&__account-item
		display inline-block
		line-height 1
		text-transform uppercase
		
		padding-x(30px)
		border-right 1px solid #393939
		
		&:last-child
			padding-right 0
			border none

.header__header
	padding-top 32px // 
	padding-bottom 18px //
	text-align center

.logo
	display inline-block
	width 14.25em //  228px
	min-width 160px
	
	margin-left 26px // 5.5072% // 76px / 1380px
	outline 1px solid yellow
	
	&__logo
		width 100%
		height auto

.main-menu
	float left
	
	margin-top .56em
	margin-left 5px
	
	&__item
		display inline-block
		
		margin-right 20px //
		font-family 'Playfair Display', serif
		font-size 1.125em
		font-style italic
		// line-height 1.6667

.header__social
	float right
	
	margin-top .67em
	
	&-item
		width 34px
		height 34px
		
		margin-right 9px
		
.cart
	position relative
	float right
	width 3em
	height 3em
	
	margin-top .3em
	margin-left 20px
	
	&__img
		width 100%
		height 100%
		
	&__count
		position absolute
		top 0
		left 0
		width 100%
		font-size .875em
		line-height 4.5
		text-align center
		color #fff

/* .currency-selector
	position relative
	float right
	
	margin-top .75em
	margin-left 48px // 
	padding-y(.625em)
	overflow hidden
	background-color #000
	
	&__selector
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		
		padding-left 100%
		background-color transparent
		border 1px none
		outline none
		appearance none
		
	&__value
		width 7.41em
		padding 0 30px 0 14px
		font-size .75em
		font-weight 600
		line-height 1.25
		color #fff
		
		text-align center
		text-transform uppercase
		
		&::before
			position absolute
			top 16px
			right 10px
			width 8px
			height 4px
			content ''
			background url('../images/down.png') no-repeat */
			
.currency-selector
	position relative
	float right
	min-width 6.125em
	
	margin-top .75em
	margin-left 48px //
	
	&::after
		position absolute
		top 1em
		right .625em
		width 8px
		height 4px
		content ''
		background url('../images/down.png') no-repeat 
	
	&__selector
		display none
		
	&__value
		display none
		
		padding-left 1.16em
		padding-right 2.5em
		padding-y(.83em)
		
		font-size .75em
		font-weight 600
		line-height 1.25
		color #fff
		
		text-align left
		text-transform uppercase
		background-color #000
		
		&:hover
			opacity .8
		
		&_display_block
			display block
		


