.slider
	position relative
	display block
	overflow hidden
	min-width 1040px
	min-height 500px
	
	padding-bottom 48.0556%
	outline 1px solid green
	// opacity .6
	
	&__item
		position absolute
		top 0
		left 0
		// display none
		width 100%
		height 100%
		outline 1px dashed tomato
		opacity 0
		transition(opacity 1.5s ease-in-out)
		
		
		&_active
			// display block
			opacity 1
		
		
		.index
			position absolute
			top 0
			left 0
			width 50px
			height 50px
			font-size 30px
			font-weight bold
			color tomato
			border 1px dotted white
			
			z-index 100
		
	&__nav
		position absolute
		left 0
		bottom 0
		width 100%
		
		padding-y(2.45%)
		line-height 0
		text-align center
		outline 1px dotted yellow
		
.slider-hero
	text-align center
		
	&__img
		position absolute
		top 0
		left 0
		min-width 100%
		height 100%
	
	&__body
		position absolute
		top 8.6705%
		left 0
		bottom 11.1272%
		width 100%
		text-align center
		
	&__caption
		margin 5.2083% auto 3.125%
		
	&__caption_img
		display block
		width 19.2361% // 277px
		// height 43.0124% // 277px
		
	&__button
		position absolute
		left 50%
		bottom 90px
		transform translate(-50%)
		
.slider-nav
	&__bullet
		display inline-block
		width 18px
		height 19px
		
		margin-right 5px
		background url('../images/slider-nav.png') no-repeat
		outline 1px solid brown
		
		&_active
			background url('../images/slider-nav-active.png') no-repeat
		
	
